/* start of science  */
.most-books {
  background-color: white;
}
.most-books .books{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.most-books  .books .book {
  width: 17%;
  padding: 8px;
  margin: 10px;
  border: 0.5px solid #d2d2d2;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.most-books .book img {
  border: 2px solid #d9d9d9;
  padding: 4px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s transform ease-in-out;
}

.most-books .book img:hover {
  transform: scale(1.02);
  opacity: 0.8;
}

.most-books .book .thumb-content {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.most-books .book .thumb-content h5 {
  color: #05293f;
  font-family: "Sansita Swashed", cursive;
}
.most-books .book .thumb-content .item-price strike {
  color: #313335;
}
.most-books .book .thumb-content .item-price span {
  color: #00b90f;
}

.seemore-Btn {
  font-size: 14px;
  display: block;
  position: relative;
  margin: 10px 0 10px 1100px;
  width: 150px;
  transition: 0.5s color ease-in-out;
}
.seemore-Btn:hover {
  color: black;
  background-color: white;
}
.seemore-Btn span {
  padding-left: 5px;
}

seemore-Btn span {
  text-decoration: none;
}



@media (min-width: 769px) and (max-width: 1024px) {
  .most-books .book {
    min-height: 8rem;
    min-width: 10rem;
   
  }
  .seemore-Btn {
    font-size: 12px;
    margin: 0 0 10px 500px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .seemore-Btn {
    font-size: 12px;
    margin: 0 0 10px 600px;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px)   {
  .most-books  .books .book {
    width: 40%;
    margin-bottom: 5px;
  }
  .seemore-Btn {
    font-size: 13px;
    margin: 40px 0 10px 220px;
  }
}

/* end of science  */
