.titleabout h2 {
  color: #69080e;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 60px 0 80px;
}

.titleabout h2 b {
  color: #020225;
}
.titleabout h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  background: #131212;
  left: 0;
  right: 0;
  bottom: -20px;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}
